extends _layouts/base

include _modules/slider/slider

block content
    main.home
        section#home.home__hero
            .container-fluid
                .row
                    .col-xs-24
                        .home__hero__logo.wow.fadeInLeft
                            img(src="/images/home/logo_product.png")
                        h1.home__hero__title.wow.fadeInLeft!=site.data.home.seccion1.texto2
                        +slider('home__hero__slider wow fadeInUp')
                            each item in site.data.home.slider
                                .home__hero__slide
                                    .home__hero__slide__video
                                        .embed-responsive.embed-responsive-16by9
                                            iframe.embed-responsive-item(src=item)
                                        p.home__hero__slide__video__title.text-right Titulo del video
                        a.home__next(href="#momentos")
                            i.material-icons keyboard_arrow_down
        section#momentos.home__moments
            .container-fluid
                .row
                    .col-xs-24
                        .home__moments__header
                            .home__moments__top
                                h2.home__moments__title=site.data.home.seccion2.titulo
                                p.home__moments__text!=site.data.home.seccion2.contenido
                            .home__moments__bottom
                                form.home__moments__search
                                    .home__moments__search__group
                                        button.home__moments__search__btn(type="submit")
                                            i.material-icons search
                                        input.home__moments__search__input(type="text", placeholder="Busca un momento")
                                .home__moments__index
                                    span.home__moments__index__amount
                                        img.home__moments__index__amount__icon(src="/images/db-icon.png")
                                        span.home__moments__index__amount__size 0 GB
                                    span.home__moments__index__bar
                                        span.home__moments__index__bar__fill
                        .home__moments__header__fixer
                                
                    .col-xs-24.home__moments__list
                        .row.nopadding
                            each item in site.data.home.seccion3
                                .col-xs-12.col-sm-8.col-md-6
                                    .home__moment.wow.fadeInUp(data-size=item.gb)
                                        .home__moment__img
                                            img(src="/images/home/#{item.foto}.jpg")
                                        .home__moment__data
                                            .home__moment__icon
                                                i.material-icons check
                                            .home__moment__text-wrapper
                                                span.home__moment__text=item.texto
                                                span.home__moment__size
                                                    | #{item.gb} gb
                    .col-xs-24
                        .home__moments__cta
                            a.home__moments__cta__btn(href="#")=site.data.home.boton
                        
        section#megas.home__mb4g
            .container-fluid
                .row.nopadding
                    .col-xs-24.col-sm-12
                        .home__mb4g__megas
                            .home__mb4g__content.wow.fadeInUp
                                h2.home__mb4g__title=site.data.home.seccion4.megas.titulo
                                ul.home__mb4g__features
                                    each item in site.data.home.seccion4.megas.lista
                                        li
                                            span.home__mb4g__features__icon
                                                img(src="/images/home/icon-plus.png")
                                            span.home__mb4g__features__text= item
                    .col-xs-24.col-sm-12
                        .home__mb4g__4g
                            .home__mb4g__content.wow.fadeInUp
                                h2.home__mb4g__title=site.data.home.seccion4.cuatrog.titulo
                                ul.home__mb4g__features
                                    each item in site.data.home.seccion4.cuatrog.lista
                                        li
                                            span.home__mb4g__features__icon
                                                img(src="/images/home/icon-less.png")
                                            span.home__mb4g__features__text= item
                    .home__mb4g__img
                        img.wow.fadeInUp(src="/images/home/modem.png")
            .col-xs-24
                a.home__next(href="#producto")
                    i.material-icons keyboard_arrow_down
                        
        section#producto.home__producto
            .container-fluid
                .row
                    .col-xs-24.col-md-14.home__producto__content-col
                        .row
                            .col-xs-24
                                img.img-responsive.home__producto__exclusivo(src="/images/home/exclusivo.png")
                            .col-xs-24.home__producto__logo__col
                                .home__producto__logo
                                    img.img-responsive(src="/images/home/logo_product.png")
                            .col-xs-24
                                .home__producto__features
                                    .home__producto__feature.home__producto__feature--one
                                        p.home__producto__feature__subtitle=site.data.home.seccion5.contenido1.texto1
                                        p.home__producto__feature__title!=site.data.home.seccion5.contenido1.texto2
                                        p.home__producto__feature__desc!=site.data.home.seccion5.contenido1.texto3
                                    .home__producto__feature.home__producto__feature--two
                                        p.home__producto__feature__title!=site.data.home.seccion5.contenido2.texto1
                                        p.home__producto__feature__desc!=site.data.home.seccion5.contenido2.texto2
                                    .home__producto__feature.home__producto__feature--three
                                        p.home__producto__feature__title!=site.data.home.seccion5.contenido3.texto1
                                    
                            .col-xs-24.home__producto__cta__col
                                .home__producto__cta
                                    .home__producto__cta__prize $20.990
                                    a.home__producto__cta__btn(href="http://www.vtr.com", target="_blank") ¡Lo quiero!
                                p.home__producto__disclaimer= site.data.home.seccion5.boton.contenido
                                
                    .col-xs-24.col-md-10.home__producto__img__col
                        .home__producto__img
                            img.img-responsive(src="/images/home/modem.png")
                        
